.vscode/launch.json
.vscode/tasks.json
bin/Debug/net5.0/DIO.Bank.deps.json
bin/Debug/net5.0/DIO.Bank.dll
bin/Debug/net5.0/DIO.Bank.exe
bin/Debug/net5.0/DIO.Bank.pdb
bin/Debug/net5.0/DIO.Bank.runtimeconfig.dev.json
bin/Debug/net5.0/DIO.Bank.runtimeconfig.json
bin/Debug/net5.0/ref/DIO.Bank.dll
obj/DIO.Bank.csproj.nuget.dgspec.json
obj/DIO.Bank.csproj.nuget.g.props
obj/DIO.Bank.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/DIO.Bank.AssemblyInfo.cs
obj/Debug/net5.0/DIO.Bank.AssemblyInfoInputs.cache
obj/Debug/net5.0/DIO.Bank.assets.cache
obj/Debug/net5.0/DIO.Bank.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/DIO.Bank.csproj.FileListAbsolute.txt
obj/Debug/net5.0/DIO.Bank.csprojAssemblyReference.cache
obj/Debug/net5.0/DIO.Bank.dll
obj/Debug/net5.0/DIO.Bank.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/DIO.Bank.genruntimeconfig.cache
obj/Debug/net5.0/DIO.Bank.pdb
obj/Debug/net5.0/ref/DIO.Bank.dll